<% if admin_signed_in? %>
  <% if current_admin.event.nil?%>
    <%= link_to "Create an event",new_event_path,class:"btn btn-primary" %>
  <% else %>
  <div id="name"><%= current_admin.event_name %></div>
  <div id="code"><%= current_admin.event_code %></div>
  <ul class="questions">
    <%= render :partial => 'questions/questions', :locals => { :event => current_admin.event } %>
  </ul>
  <% end %>
<% end %>


<%= form_for :question, :url => event_questions_path(Event.last),remote: true do |f| %>
<div class="col-xs-9">
  <%= f.text_field :body,placeholder:"Ask your question here",class:"form-control",id:"body" %>
 
</div>
 <%= f.submit "Ask",class: "btn btn-primary"%>
<% end %>
</div>
