
<%= form_for @question do |f|%>
<div class="col-xs-9">
  <%= f.label :body %>
  <%= f.text_field :body,placeholder:"Ask your question here",class:"form-control" %>
 
</div>
 <%= f.submit "Ask",class: "btn btn-primary"%>
<% end %>
 
<div class="questions">
  <%= render @questions %>
</div>
