<header class="section">
  <div class="w-container">
    <div class="w-row">
      <div class="w-col w-col-5 subfooter-left">
        <div class="app-name">Ask Your Question</div>
      </div>
      <div class="w-col w-col-8 nav-column" style="float:right">
        <% if admin_signed_in? %>
          Logged in as <strong><%= current_admin.email %></strong>.
          <%= link_to 'Edit profile', edit_admin_registration_path ,class:"nav-link" %>
          <%= link_to "Logout", destroy_admin_session_path, method: :delete ,class:"nav-link" %>
        <% elsif current_user.guest?%>
          <!-- Signed in as <%= current_user.username %> -->
          <div class="btn-group">
            <%= link_to "Join Event", new_subscriber_path ,class:"nav-link" %>
          </div>
           <!-- new_admin_registration_path -->
           <div class="btn-group">
            <%= link_to "Signup", new_admin_registration_path ,class:"nav-link" %>
            <%= link_to "Login", new_admin_session_path ,class:"nav-link" %>
          </div>
    
          <!-- <div class="btn-group">
            <%= link_to(image_tag("facebook.png"), "/auth/facebook")%>
            <%= link_to(image_tag("twitter.png"), "/auth/twitter")%>
          </div> -->
        <% else %>
          <!-- Signed in as <%= current_user.username %> -->
          <%= link_to "Join Event", new_subscriber_path,class:"nav-link" %>
          <%= link_to "Sign out", logout_path,method: :delete,class:"btn btn-block btn-danger" %> 
        <% end %>
      </div>
    </div>
  </header>
