<header class="section">
  <div class="w-container">
    <div class="w-row">
      <div class="w-col w-col-1 subfooter-left" style="
          position: relative;
          margin-top: -36px;
      ">
           <a href='/'> <%= image_tag "question.png",:width => "50px" %></a>
          </div>
    <div class="w-col w-col-5 subfooter-left" style="
        left: -26px;
        margin-top: 0px;
    ">
            <div class="app-name">Ask Your Question</div>
          </div>
      <div class="w-col w-col-6 nav-column" style="float:right" data-role='nav-links'>
        <% if admin_signed_in? %>
          Logged in as <strong><%= current_admin.email %></strong>.
          
            <% if current_admin.event.nil?%>
              <%= link_to "Create Event",new_event_path,class:"nav-link" %>
            <% end %>
          <!-- <%= link_to 'Edit profile', edit_admin_registration_path ,class:"nav-link" %> -->
          <%= link_to "Logout", destroy_admin_session_path, method: :delete ,class:"nav-link" %>
        <% elsif current_user.guest?%>
          <% if current_user.event.present?%>
            <div class="btn-group">
              <h3 style="
                  display: inline;
              ">as <%= current_user.username %> or</h3>
            <%= link_to(image_tag("facebook.png"), "/auth/facebook")%>
            <%= link_to(image_tag("twitter.png"), "/auth/twitter")%>
          </div>
          <% else %>
          
          <div class="btn-group">
            <%= link_to "Signup", new_admin_registration_path ,class:"nav-link" %>
            <%= link_to "Login", new_admin_session_path ,class:"nav-link" %>
            <% if current_user.event.nil? %>
            <%= link_to "Join Event", new_subscriber_path ,class:"nav-link" %>
            <% end %>
          </div>
          <% end %>
          <% else %>
          <div class="btn-group">
            <h3 style="
                display: inline;
            ">as <%= current_user.username %> </h3>
             <%= link_to "Logout", session_path, method: :delete ,class:"nav-link" %>
        <% end %>
        
      </div>
    </div>
  </header>
