<!DOCTYPE html>
<!-- This site was created in Webflow. http://www.webflow.com-->
<!-- Last Published: Wed Dec 18 2013 21:53:17 GMT+0000 (UTC) -->
<html ng-app="App">
<head>
  <%= include_gon %>
 <title>Ask your question!</title>
 <meta charset="utf-8">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="http://cdn.pubnub.com/pubnub.min.js"></script>
 <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
 <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
 <%= csrf_meta_tags %>

 
   
  

  <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.4.7/webfont.js"></script>
  <script>
    WebFont.load({
      google: {
        families: ["Montserrat:400,700", "Bitter:400,700"]
      }
    });
  </script>
  <link rel="apple-touch-icon" href="https://y7v4p6k4.ssl.hwcdn.net/51d1bb05fc804b2621000001/webclip-slate.png">
   <%= favicon_link_tag %>
</head>
<body>
  <%= render 'layouts/header' %>
<div class="wrapper">
 
     <% if notice || flash[:warning] %>
     <div class="alert #{'warning' if warning}" style="display:none">
     <%= notice || warning%>
 </div>
     <% end %>
     
   
  
 
  
  
  
 
 

<%= yield %>
         
</div>
 
<div class="section grey footer">
   <div class="w-container">
     <p class="footer-text">Made by IdleCampus.</p><a class="footer-link" href="http://thenounproject.com/" target="_blank">Question by Martin Delin from The Noun Project.</a><a class="footer-link" href="http://idlecampus.com"
     target="_blank">IdleCampus.</a>
    <a href='/'> <%= image_tag("question.png",width:"50px",class:"logo-in-footer") %></a>
   </div>
 </div>
</body>
</html>