<!DOCTYPE html>
<html>
<head>

  <title>Ask you question!</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="user_nav" style="margin-bottom:2%" data-role="nav-links">
    Signed in as <%= current_user.username %>
    <% if current_user.guest? %>
       <%= link_to "Sign in with Twitter", "/auth/twitter"%>
        <%= link_to "Sign in with Facebook", "/auth/facebook"%>
     <% else %>
       <%= link_to "Sign out", logout_path,method: :delete %>
     <% end %>
   
   
  </div>
  <div id="login">
 
 

<%= yield %>

</body>
</html>
